@import url(http://fonts.googleapis.com/css?family=Raleway);
@media only screen
and (min-device-width: 1000px){
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;

  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: 100%;
  border-bottom: 10px solid #0089af;
  font-family: Raleway, sans-serif;
  line-height: 1;
  margin-bottom:0px;
  position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
overflow:hidden;
z-index: 4000;
}
#cssmenu ul {
  background: #004357;
}
#cssmenu > ul > li {
  float: right;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 60px 25px 12px 25px;
  font-size: 25px;
  font-weight: 400;
  text-decoration: none;
  color: #64d0df;
  font-family:"Raleway",sans-serif;letter-spacing:.025rem;margin-left:auto;margin-right:auto;font-size:1.25rem;color:#fff;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;

  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #64d0df;
}
#cssmenu > ul > li.active > a:after{
  background:#008aaf;
}
#burger, #quit{
  display:none;
}
.main{
  height:100%;
  margin-bottom:5px;
}
.content{}
.name{
margin-top:30px;
margin-bottom:10px;
font-size:25px;

}
.tittel{
  margin-top:10px;
  margin-bottom:20px;
  font-size:20px;
  font-style: italic;
}
.forklaring{
  font-size:15px;
  margin-bottom:10px;

}
.listegjenstand{
  font-size:15px;
  margin-bottom:10px;
  font-weight:bold;

}
.addr, .duration{
  font-style: italic;
}
.section__title{
  font-size:17px;
}
.section_info{
font-size: 1.5rem;
    letter-spacing: .0125rem;
    margin-top:50px;
}
.section_info p{
  margin-top: 25px;
}
.rating{
  margin-top:20px;
  margin-bottom: 50px;
}
.backbutton{
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:60px;
}
.backbutton a{
  text-align:center;
    border-bottom: 1px solid #64d0df;
    color: #008aaf;
    text-decoration: none;

    border-bottom: none;
        display: block;
        font-family: "AkademieStd",sans-serif;
            font-size: 1.5rem;
            float:left;
            margin-left:auto;
            margin-right:auto;
}
.backbutton a:hover{
color: #00a9d8;
}
.ingenbruker{
  font-size:1.5rem;
  margin-left:auto;
  margin-right:auto;
}
.backbutton2{
  display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
min-height: 40px;
background-image: linear-gradient(to bottom,#f0f9fa,#e2f3f5);
padding-top: 5px;
padding-bottom: 5px;
border-bottom: 1px solid #c2eaf0;
border-radius: 3px 3px 0 0;
padding-bottom: 10px;
margin-bottom:40px;
font-size:1.5rem;
}
.backbutton2 a{
  text-decoration: none;
  color:#004357;
margin-top:10px;

}
.backbutton2 a:hover{
color:#0095c1;
}
.info_jury{
  margin-top:80px;
  margin-left:60px;
}
.textforendre{
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
@media (min-width: 100px) and (max-width: 1000px) {

  #cssmenu {
    width: 100%;
      border-bottom: 5px solid #008aaf;
    font-family: Raleway, sans-serif;
    line-height: 1;
    margin-bottom:0px;
    position: fixed; /* fastsatt*/
  top: 0; /* topp */
  overflow:hidden;
  z-index: 4000;
  }
        #cssmenu > ul > li > a {
          z-index: 2;
          padding: 20px 25px 12px 25px;
          font-size: 7px;
          font-weight: 200;
          text-decoration: none;
          color: #64d0df;
          font-family:"Raleway",sans-serif;letter-spacing:.015rem;margin-left:auto;margin-right:auto;font-size:1.0rem;color:#fff;
          -webkit-transition: all .2s ease;
          -moz-transition: all .2s ease;
          -ms-transition: all .2s ease;
          -o-transition: all .2s ease;

          margin-right: -4px;
        }
 }
 @media (min-width: 100px) and (max-width: 650px) {
         .logo {
           display:none;
         }
         #cssmenu {
           width: 100%;
             border-bottom: 4px solid #008aaf;
           font-family: Raleway, sans-serif;
           line-height: 1;
           margin-bottom:0px;
           position: fixed; /* fastsatt*/
         top: 0; /* topp */
         overflow:hidden;
         z-index: 4000;
         }
         #cssmenu > ul > li > a {
           z-index: 2;
           padding: 20px 8px 10px 8px;
           font-size: 15px;
           font-weight: 400;
           text-decoration: none;
           color: #64d0df;
           font-family:"Raleway",sans-serif;letter-spacing:.025rem;margin-left:auto;margin-right:auto;font-size:0.9rem;color:#fff;
           -webkit-transition: all .2s ease;
           -moz-transition: all .2s ease;
           -ms-transition: all .2s ease;
           -o-transition: all .2s ease;

           margin-right: -4px;
         }

  }
@media (min-width: 650px) and (max-width: 1000px) {
        .logo {
          height:45px;
          bottom:0;
          padding-top:10px;
          margin-left:10px;
        }
        #cssmenu > ul > li > a {
          z-index: 2;
          padding: 20px 8px 10px 8px;
          font-size: 15px;
          font-weight: 400;
          text-decoration: none;
          color: #64d0df;
          font-family:"Raleway",sans-serif;letter-spacing:.025rem;margin-left:auto;margin-right:auto;font-size:1.25rem;color:#fff;
          -webkit-transition: all .2s ease;
          -moz-transition: all .2s ease;
          -ms-transition: all .2s ease;
          -o-transition: all .2s ease;

          margin-right: -4px;
        }

 }

@media (min-width: 1000px) and (max-width: 2000px) {
  .logo{
    height:50px;
    width:auto;
    bottom:20px;
    margin-left:144px;
    position:absolute;
    display:block;
  }

 }
 @media (min-width: 100px) and (max-width: 850px) {
   .cat-bar-cont{
     display:none;
   }
   .viewtype{
     height:20px !important;
   }
   #searchForm{
     float:left !important;
     margin-left:20px;
   }

  }
  @media (min-width: 100px) and (max-width: 850px) {
    .cat-bar-cont{
      display:none;
    }
    .viewtype{
      height:20px;
    }

   }
.hvl_logo{
  height:100px;
  width:auto;
}
.listitem a {
  border-bottom: 1px solid #64d0df;
  color: #008aaf;
  text-decoration: none;

  border-bottom: none;
      display: block;
      font-family: "AkademieStd",sans-serif;
          font-size: 1.4rem;
          margin-top:20px;

}
.listitem a:hover{
color: #00a9d8;
}
.backimg{
  height:18px;
  width:10px;
  float:left;
  margin-top:10px;
  margin-right:5px;
}
.menuicn{
  height:15px;

  margin-right:5px;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family:"Raleway",sans-serif;
  letter-spacing:.050rem;
  margin-left:auto;
  margin-right:auto;
  font-size:1.25rem;
  line-height: 2.5rem;
  color:#fff;



}
body {
  min-height: 100%;
  background: #fff;
  font-family:"Raleway",sans-serif;
  font-weight: 400;
  color: #222;

  padding-bottom: 50px;


}
.sub-title{
  margin-top:40px;
  margin-bottom:40px;
}
.container {
  max-width: 1000px;
  min-width:500px;
  background: #fff;
  margin: 0px auto 0px;

  border-radius: 3px;
  padding: 40px;
  margin-top:200px;
  overflow:hidden;
  margin-bottom:350px;
}
.container_index{
  max-width: 1000px;
  min-width:500px;
  background: #fff;
  margin: 0px auto 0px;
  border-radius: 3px;
  padding: 40px;
  overflow:hidden;
margin-top:-450px;

position:relative;

  }
  .home_container{
    width:100%;
overflow:hidden;
margin-bottom: 400px;
  }
.home_photo{
 width:100%;
 z-index:0;
 position:relative;
}
.header {
  margin-bottom: 30px;
}
.header .full-name {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.header .first-name {
  font-weight: 700;
}
.header .last-name {
  font-weight: 300;
}
.header .contact-info {
  margin-bottom: 20px;
}
.header .email,
.header .phone {
  color: #999;
  font-weight: 300;
}
.header .separator {
  height: 10px;
  display: inline-block;
  border-left: 2px solid #999;
  margin: 0px 10px;
}
.header .position {
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
  text-decoration: underline;
}

.details {
  line-height: 20px;
}
.details .section {
  margin-bottom: 40px;
}
.details .section:last-of-type {
  margin-bottom: 0px;
}
.details .section__title {
  letter-spacing: 2px;
  color: #54AFE4;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.details .section__list-item {
  margin-bottom: 40px;
}
.details .section__list-item:last-of-type {
  margin-bottom: 0;
}
.details .left,
.details .right {
  vertical-align: top;
  display: inline-block;
}
.details .left {
  width: 70%;

}
.details .right {
  text-align: right;
  width: 24%;
}
.details .name {
  font-weight: bold;
  margin-left:0;
}
.details a {
  text-decoration: none;
  color: #000;
  font-style: italic;
}
.details a:hover {
  text-decoration: underline;
  color: #000;
}
.details .skills__item {
  margin-bottom: 10px;
}
.details .skills__item .right input {
  display: none;
}

.details .skills__item .right input:checked + label {
  background: #79A9CE;
}




.mainphoto{
  margin-left:-40px;
  width:800px;
  overflow:hidden;
}


.header_name{
  font-size:40px;
  text-align:center;
  margin-bottom:20px;
  color:#eb6851;
}
.header_home{
  font-size:40px;
  text-align:center;
  margin-bottom:30px;
  margin-top:80px;
  color:#eb6851;
}
.header_desc{
  font-size:15px;
  text-align:center;
  margin-bottom: 30px;
  margin-top:-15px;
  color:#6A6A6A;
}

.location{
  text-align:center;
  margin-bottom: 70px;
}
.section_under_image{
  margin-top:5px;
}
.footer {
  height:300px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
   width:100%;
  padding: 1rem;
  background-color: #EFF0F2;
  text-align: center;
    margin-top:250px;
    color:##444444;
    background: none repeat scroll 0 0 #EFF0F2;
   border-bottom: 1px solid #DADADA;
   border-top: 1px solid #DADADA;
   font-weight: 300;
   padding: 2em 0;
   margin-bottom:50px;
   padding-bottom:200px;
}

  .menutext{
    margin-top:30px;
  }
.mainphoto{
  margin-left:-40px;
  width:1000px;
  overflow:hidden;
}
.section_under_image{
  margin-top:30px;
  font-size:30px;
}
.tittel{
  margin-top:10px;
  margin-bottom:20px;
  font-size:20px;
  font-style: italic;
}
.forklaring{
  font-size:20px;
  margin-bottom:10px;

}
.details .right .forklaring{
  font-size:23px;
      min-height: 100%;
      line-height: 23px;
font-family: 'Lato', sans-serif;
    font-weight: 400;
}
}

.stand_list {
   display: block;
   width:100%;
   height:101px;
   margin-top:80px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   padding-left: 0;

 }

 .stand_list ul {
   list-style: none;
  min-width: 720px;
  width:100%;
   margin-left:auto;
   margin-right:auto;
   padding-left: 0;
   margin-left:35px;
 }

 .stand_list ul li {
   width:30%;
     display: block;
     list-style: none;
     float: left;
     text-align:center;
     margin-left:auto;
     margin-right:auto;
     padding-left: 0;

 }
.stand_list li:hover{
  opacity: 1;
}
 .stand_list ul li span a {
     background-color: #fff;
 }

 .stand_list ul li a {

   display: block;
   /*
   margin-right: 10px;
   margin-bottom: 7px; */
   opacity: 0.70;
   -webkit-transition: all 0.3s linear;
   -moz-transition: all 0.3s linear;
    margin-bottom:11px;

 }
 .stand_list ul li a:hover {
   opacity: 1.0;
 }
 .standlist-title-link{
   width:100%;
   display: block;
   font-size:1rem;
   text-decoration: none;
   color:#008aaf;
 }
 .stand_list ul li a:nth-child(even){

 }

.exponr{
  display:none;

}
 .stand_list ul li a img {
   border: 2px solid #008aaf;
 }

 .stand_list-listview{
   list-style-type:none;
   margin-top:90px;
 }
 .stand_list-listview ul{
   list-style-type:none;
   font-size:1.5rem;
 }
 .stand_list-listview ul li{
  margin-bottom:20px;
  height:180px;
  padding-top:50px;
  padding-right:10px;
  line-height: 1.5rem;

 }
 .stand_list-listview ul > li:nth-child(odd){
   background:#eee;
 }
 .stand_list-listview ul > li:nth-child(1){
   background:#dbdbdb;
   height:40px;
   padding:0px;
   width:120%;
   margin-top:30px;
 }
 .stand_list-listview ul li a p{
   font-size:0.9rem;
   float:left;
   margin-left:10px;

 }
 .stand_list-listview ul li:nth-child(1){
   font-size:1.25rem;
 }
 .stand_list-listview ul li a p:nth-child(1){
   float:right;
 font-size:2.6rem;
 }
 .stand_list-listview ul li a p:nth-child(2){
   float:left;
   margin-top:15px;
   margin-left:30px;
font-size:1.25rem;
 }
 .stand_list-listview ul li a p:nth-child(3){
float:left;
margin-top:15px;
margin-left:69px;
font-size:1.25rem;
display:block;
width:80%;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
 }
 .stand_list-listview ul li a p:nth-child(4){
   float:right;
    margin-top:15px;
font-size:1.1rem;
 }
 .stand_list-listview ul li a{
   font-size:1.5rem;
   float:left;
   margin-bottom:50px;
 }
 .stand_list-listview ul li a img{
   display:none;
 }
 #list-view-header{
   width:100%;
   display:none;
   height:40px;
   line-height: 2.5rem;
   font-size:1.25rem!important;
}
.exponr-title{
  float:left;
  margin-left:20px;
  margin-right:42px;
}
.infoText-title{
  float:left;
  margin-right:150px;
}
.exponr-forfattere{
  float:right;
  margin-right:30px;
}
.container {
  position: relative;

}
.infoText{

  height:170px;
  font-size: 1.2rem;
letter-spacing: 0.01rem;
line-height: 2.2rem;
  display: -webkit-box;
-webkit-line-clamp: 5;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
color:#004357;

}
.standListImage,
.standListImageJury{
  width:200px;
  height:283px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;

  object-position: center;
}
.section_under_title{
  font-size:25px;

}
.viewtype{
  height:40px;
  width:auto;
  float:right;

  margin-right:30px;
  margin-top:50px;

}
.viewtype-controller{
  position:absolute;
  float:right;
  right:30px;
}
.feilerror{
  color:red;
  text-align:center;
}
.topnav{
  display:none;
}
.footer{
  font-family: "Open Sans", Arial, Verdana, Helvetica, sans-serif!important;
letter-spacing: 0.5px;
}
.footer-left-col{
  float:left;
  width:25%;
  font-size:1rem;
  text-align: left;
  margin-left:150px;
}
.footer-mid-col{
  float:left;
  margin-left:10%;
  text-align: left;
  font-size:1rem;
}

.footer-right-col{
  float:right;
  width:20%;
  font-size:1rem;
  text-align: left;
  margin-left:50px;
}
.standlist2{
  text-align: left;
}
.standTable{
  text-align: left;
  margin-bottom:500px;
  width:100%;
  border:0;
 border-collapse:separate;

}
.standTable th, .standTable tr > td{
  padding:20px;

}
.standTable tr>th:nth-child(2){
  width:50%;

}
.standTable th{
  background:#fff;
}
.standTable tr:nth-child(odd){
  background:#eee;
}

thead tr th{
  border-bottom: 2px solid #444444;
  border-collapse:separate;
vertical-align: bottom;
}
.cat-bar{
  overflow: visible !important;
  background:#008aaf;
  width:100%;
  margin-top:0px;
  height:60px;
  padding-top:20px;
margin-top:-40px;
margin-bottom:30px;



}
.left-bound-col{
  float:left;
  margin-right:40px;
}
.cat-bar-cont{
margin-left:50px;
float:left;}
.searchForm-cl{

}
.filter-selection{
  font-size:1rem;
  float:left;
  margin-right:20px;
}
#searchField, .filt-ser-btn{
  float:right;
  margin-right:40px;
}
.filt-ser-btn{
  width:60px;
  font-size:1rem;
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
@media only screen
and (max-device-width: 1000px){
  * {
    margin: 0;
    padding: 0;

  }
  html, body {
      max-width: 100%;
      overflow-x: hidden;
  }
  html {
    height: 100%;
    width:100%;
    margin: 0px;
padding: 0px;
  }

  body {
    min-height: 100%;
    background: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #222;
    font-size: 25px;
    line-height: 60px;

    width:100%;
  }

  .container {
overflow:visible;
    margin: 0px auto 0px;
    height:100%;
    margin-bottom:200px;
    font-size: 2.0rem;
    line-height: 5rem;
    padding:30px;

  }
  .container p{
      font-size: 1.0rem;
  }
  .home_container{
    width:100%;

  }
  .home_photo{
    display:none;
  }
  .main{
    height:100%;
    margin-bottom:5px;
    width:100%;
    left:0;
    right:0;
    top:0;
        margin-top:50px;
  }
.container_index{
  width:90%;
    background: #fff;
    margin: 0px auto 0px;

    overflow:hidden;
    height:100%;
    margin-bottom:400px;
    font-size: 1.0rem;
    line-height: 2rem;
    letter-spacing: 0.04rem;



  }
  .logo{
  display:none;
  }
.image_center_home{

}
#cssmenu{

}

.backbutton{
  height:40px;
}
.backbutton a{

    border-bottom: 1px solid #64d0df;
    color: #008aaf;
    text-decoration: none;

    border-bottom: none;
        display: block;
        font-family: "AkademieStd",sans-serif;
            font-size: 1.7rem;
            float:left;
            margin-bottom:20px;
}
.backbutton a:hover{
color: #00a9d8;
}

.info_jury{
  margin-top:80px;
  margin-left:60px;
}
.backimg{
  height:18px;
  width:10px;
  float:left;
  margin-top:30px;
  margin-right:5px;
}
.listitem a {
  border-bottom: 1px solid #64d0df;
  color: #008aaf;
  text-decoration: none;

  border-bottom: none;
      display: block;
      font-family: "AkademieStd",sans-serif;
          font-size: 1.4rem;
          margin-top:20px;

}
.listitem a:hover{
color: #00a9d8;
}

.stand_list{
  margin-left: 0px;
}
.stand_list:first-of-type {
  margin-top:150px;
   display: block;
   margin-left:auto;
   margin-right:auto;

 }

 .stand_list ul {
   list-style: none;
  min-width: 50px;
  width:100%;
   margin-left:auto;
   margin-right:auto;
   padding-left: 0;

 }

 .stand_list ul li {
   width:100%;
     display: inline;
     list-style: none;
     float: left;

     text-align:center;
     margin-left:auto;
     margin-right:auto;
     padding-left: 0px;
     margin-bottom:30px;

 }

 .stand_list ul li span a {
     background-color: #fff;
 }

 .stand_list ul li a {

   display: block;
   /*
   margin-right: 10px;
   margin-bottom: 7px; */
   opacity: 1;
   -webkit-transition: all 0.3s linear;
   -moz-transition: all 0.3s linear;
       margin-bottom:50px;
       line-height: 3rem;

 }
 .stand_list ul li a:hover {
   opacity: 1.0;
 }

 .stand_list ul li a img {
   border: 6px solid #424244;
 }
 .stand_list{
   margin-top:20px;
 }
 .infoText{
   width:100%;
   height:100%;
   font-size: 2rem;
   margin-bottom:10px;
   margin-top:30px;
   display: -webkit-box;
 -webkit-line-clamp: 4;
 -webkit-box-orient: vertical;
 overflow: hidden;
 text-overflow: ellipsis;

 }


 #burger{
   position: fixed;
   right: 0;
   top: 0;
   color: white;
   background: linear-gradient(45deg, #9682C8 10%, #05BCC9);;
   font-size: 64px;
   padding: 16px 16px 32px 32px;
   border-radius: 0% 0% 0% 100%;
   transition: 1s;
   cursor: pointer;
   position:fixed;
   z-index: 9;
 }

 #quit{
   position: fixed;
   top: 0;
   color: white;
   font-size: 64px;
   padding: 0px;
   display: none;
   cursor: pointer;
   margin-right:50px;
   z-index: 10;
   margin-top:15px;
 }
 #links {
   position:fixed;
   display: none;
   flex-direction: column;
   width: 100vw;
   height: 50vh;

   padding: 3vh 0;
   font-size:3rem;
   justify-content: space-around;
   z-index: 14;
   margin-top:40px;
 }

 #links a,
 #cssmenu li{
   text-align: center;
   text-decoration: none;
   color: white;
   font-size: 1.0em;
  font-family:"Raleway",sans-serif;
   z-index: 10;
      line-height: 5rem;

      opacity: 1;
      -webkit-animation: fadein 1.2s; /* Safari, Chrome and Opera > 12.1 */
           -moz-animation: fadein 1.2s; /* Firefox < 16 */
            -ms-animation: fadein 1.2s; /* Internet Explorer */
             -o-animation: fadein 1.2s; /* Opera < 12.1 */
                animation: fadein 1.2s;
 }
 @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
 #cssmenu{
   z-index: 10;
      margin-top:160px;
 }
 #cssmenu ul{
   display:flex;
   flex-direction: column-reverse;
   z-index: 10;

 }
 .sub-title{
   margin-top:40px;
   margin-bottom:40px;
 }
 .hvl_logo{
   height:150px;
   width:auto;
 }
 .header_name{
   font-size:2.25rem;
   text-align:center;
   overflow:hidden;
   margin-bottom:30px;
   margin-top:80px;
   color:#eb6851;
   line-height: 3.5rem;
 }
.standListImageJury{
  display:none;
}
.header_name{

}
.header_desc{
  font-size:1.5rem;
  text-align: center;
  color:grey;
  margin-top:-40px;
}
.info{
  text-align: center;
}
.section_info{

  text-align: center;
  font-size: 2rem;
}
.section_info:first-of-type{
  float:left !important;
  width:100%;
  height:auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.section_info p{
  font-size: 1.5rem;
}
.standListImage{

  margin:0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header_header{
  font-size:2.5rem;
  text-align: center;
}
.rating{
  margin-top:30px;
  margin-bottom:50px;
}
.ingenbruker{
  text-align: center;
  font-size:1.025rem !important;
  letter-spacing: 0.5px !important;
  line-height: 1.5rem;
}
.header_home{
  font-size:2.25rem;
  text-align:center;
  overflow:hidden;
  margin-bottom:30px;
  margin-top:80px;
  color:#eb6851;
  line-height: 3.5rem;

}
.footer {
  height:550px;
  width:100%;
  position: absolute;
  right: 0;
  left: 0;
   width:100%;
  background-color: #EFF0F2;
  text-align: center;
    margin-bottom:0px;
    margin-right: 0px;
    font-size: 2rem;
color:##444444;
}
.footer-left-col{
  float:none;
  width:95%;
  text-align: center;
  margin-left: 0px;
  margin-right:0px;
  padding:0px;
  padding-left:15px;
}
.footer-mid-col{
  float:left;
  width:100%;
  text-align: center;
  margin-left:0px;
}

.footer-right-col{
  float:none;
  width:100%;
  height:auto;
  font-size:1rem;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}.footer-right-col img{
text-align: center;
}
.cat-bar{
  display:none;
}
.stand_list-listview{
  list-style-type:none;
  margin-left:0px;
}
.stand_list-listview ul{
  list-style-type:none;
  font-size:2rem;
}
.stand_list-listview ul li{
 margin-bottom:10px;
 height:170px;
}
.stand_list-listview ul li a p{
  font-size:1.0rem;
  float:left;

  line-height: 1.5rem;
}
.stand_list-listview ul li a p:nth-child(1){
  float:left;
margin-left:10px;
}
.stand_list-listview ul li a p:nth-child(2){
  float:left;
  margin-left:10px;

}
.stand_list-listview ul li a p:nth-child(3){
  float:left;
margin-left:10px;
display:block;
width:80%;
display: -webkit-box;
-webkit-line-clamp: 6;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}
.stand_list-listview ul li a{
  font-size:1.5rem;
  float:left;
  margin-bottom:50px;
}
.stand_list-listview ul li a img{
  display:none;
}
#list-view-header{
  display:none !important;
}
.exponr-title{
  float:left;
  margin-left:0px;
  margin-right:0px;
}
.infoText-title{
  float:left;
  margin-right:0px;
}
.exponr-forfattere{
  float:left;
  margin-right:0px;
}
.viewtype-controller{
  position:absolute;
right:auto;
  left:50px !important;
  top:-10px;
}
.stand_list-listview ul > li:nth-child(odd){
  background:#fff;
}
.stand_list-listview ul li a p:nth-child(4){
  float:left;

}
.backbutton2{
  display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
font-size: 1.8rem;
min-height: 40px;

}
.backbutton2 a{
  text-decoration: none;
  color:#004357;
margin-top:0px;
padding-top:30px;
}
